<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zarejestruj się!</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/main.min.css">
  <script>
    const SPEC = [
      'Agronomia',
      'Analityka chemiczna i spożywcza',
      'Architektura',
      'Architektura i urbanistyka',
      'Architektura krajobrazu',
      'Architektura wnętrz',
      'Bioinżynieria w produkji zwierzęcej',
      'Biotechnologia',
      'Budowa i eksploatacja maszyn',
      'Budownictwo',
      'Computer aided engineering',
      'Elektronika i telekomunikacja',
      'Elektrotechnika',
      'Energetyka',
      'Finanse i rachunkowość',
      'Fizyka techniczna',
      'Geodezja i kartografia',
      'Gospodarowanie zasobami naturalnymi',
      'Informatyka Stosowana',
      'Inspekcja weterynaryjna',
      'Inżynieria biomedyczna',
      'Inżynieria gazu łupkowego',
      'Inżynieria materiałowa',
      'Inżynieria odnawialnych źródeł energii',
      'Inżynieria środowiskowa',
      'Inżynieria w biologii stosowanej',
      'Mechaniczna inżynieria tworzyw',
      'Mechanika i budowa maszyn',
      'Mechatronika',
      'Nanobioinżynieria',
      'Ochrona i kształtowanie środowiska',
      'Ochrona środowiska',
      'Ogrody zoologiczne i zwierzęta amatorskie',
      'Przetwórstwo tworzyw sztucznych',
      'Rolnictwo',
      'Rolnictwo ANG',
      'Rolnictwo w języku angielskim',
      'Szkoła doktorska',
      'Technika rolnicza i leśna',
      'Technologia chemiczna',
      'Technologia żywności i żywienie człowieka',
      'Teleinformatyka',
      'Transport',
      'Weterynaria',
      'Wzornictwo',
      'Zarządzanie',
      'Zarządzanie i inżynieria produkcji',
      'Zielarstwo i fitoteriapia',
      'Zoofizjoterapia',
      'Zootechnika',
    ]
  </script>
</head>

<body>
  {{{ body }}}
</body>

</html>